// Anything specifically related to book page styling.

.book-cover {
    float: left;
    display: block;
    width: 80%;
    margin: 0 10%;
    padding: 1.75em;
    @media (min-width: $large-breakpoint) {
      display: inline-block;
      max-width: 250px;
      margin: 0;
    }
}
.book-teaser {
  display:block;
  min-height:325px;
}
.book-cover-teaser {
  padding: 0em 1.25em;
}

h1.book-title {
    margin-top: 0;
}

.book-meta {
    display: block;
    padding: 1.75em;

  @media (min-width: $large-breakpoint) {
      display: inline-block;
      width: calc( 100% - 250px );
    }

    .post-meta {
    	margin-top: inherit;
    }
}
